x-airflow-common: &airflow-common
  build: .
  image: apache/airflow:3.1.3
  environment:
    - AIRFLOW__API_AUTH__JWT_SECRET=UQm9dAerL0GDbQvJp0Cyxo7APwJ0scOFxJKcd51c7Bw
    - AIRFLOW__WEBSERVER__SECRET_KEY=UQm9dAerL0GDbQvJp0Cyxo7APwJ0scOFxJKcd51c7Bw
    - AIRFLOW__API__SECRET_KEY=UQm9dAerL0GDbQvJp0Cyxo7APwJ0scOFxJKcd51c7Bw

    - AIRFLOW__CORE__SECRET_KEY=UQm9dAerL0GDbQvJp0Cyxo7APwJ0scOFxJKcd51c7Bw
    - AIRFLOW__CORE__FERNET_KEY=46bkPixl-2kM_2P60v0lU1234567890abcdefghijklm=

    - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
    - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    - AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-api-server:8080/execution/
    
    - AIRFLOW_CONN_FS_DEFAULT=fs://
    - AIRFLOW_CONN_MONGO_DEFAULT=mongo://mongo:27017/airflow_db
    - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    
    - PYTHONUNBUFFERED=1
    - AIRFLOW__CORE__LOAD_EXAMPLES=false
    - AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true

  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./data:/opt/airflow/data
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:16
    container_name: airflow-postgres
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db check
        airflow db migrate
        if ! airflow users list | grep -q "admin"; then
          airflow users create \
            --username admin \
            --firstname Admin \
            --lastname User \
            --role Admin \
            --email admin@admin.com \
            --password root
        fi
    container_name: airflow-init-task7

  airflow-api-server:
    <<: *airflow-common
    command: airflow api-server
    restart: on-failure
    container_name: airflow-api-server-task7
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/api/v2/version"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:  
    <<: *airflow-common
    command: airflow scheduler
    restart: on-failure
    container_name: airflow-scheduler-task7
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      airflow-api-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "airflow jobs check --job-type SchedulerJob --hostname $${HOSTNAME}"]
      interval: 10s
      timeout: 10s
      retries: 5

  airflow-triggerer:
    <<: *airflow-common
    command: airflow triggerer
    restart: on-failure
    container_name: airflow-triggerer-task7
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      airflow-api-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "airflow jobs check --job-type TriggererJob --hostname $${HOSTNAME}"]
      interval: 10s
      timeout: 10s
      retries: 5

  airflow-dag-processor:
    <<: *airflow-common
    command: airflow dag-processor
    restart: on-failure
    container_name: airflow-dag-processor-task7
    healthcheck:
      test: ["CMD-SHELL", "airflow jobs check --job-type DagProcessorJob --hostname $${HOSTNAME}"]
      interval: 10s
      timeout: 10s
      retries: 5
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  mongo:
    image: mongo:latest
    container_name: base-mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: base-mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=password
    depends_on:
      - mongo

volumes:
  mongo-data: